@import 'tailwindcss';

@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/roboto-v48-latin-regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./assets/fonts/roboto-v48-latin-500.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: url('./assets/fonts/roboto-v48-latin-600.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/roboto-v48-latin-700.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 800;
	src: url('./assets/fonts/roboto-v48-latin-800.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: url('./assets/fonts/roboto-v48-latin-900.woff2') format('woff2');
}
body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}
.containers {
	width: 1340px;
	margin: 0 auto;
}
.page-loading {
	animation-name: LoadingImg;
	animation-iteration-count: infinite;
	animation-duration: 0.9s;
	animation-direction: alternate-reverse;
	transition: all 0.5s;
}
@keyframes LoadingImg {
	0% {
		transform: scale(1) rotateY(0deg);
	}
	100% {
		transform: scale(2) rotateY(360deg);
	}
}
.active {
	font-weight: bold;
}
.scroll-none {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.scroll-none::-webkit-scrollbar {
	display: none;
}
